.about-content {
    text-align: center;
    min-height: 783px;
    margin: 0 auto;
}

.about-submenu {
    background-color: #212d52;
}

.about-submenu ul {
    margin-top: 0px;
    list-style: none;
    padding: 10px;
}

.about-submenu li {
    display: inline;
    margin-right: 20px;
}

.about-submenu a {
    text-decoration: none;
    color: #ffffff;
}

.about-submenu a:hover {
    text-decoration: underline;
}

.subpage {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.subpage p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
}

.logo2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo2 img {
    max-width: 75%;
    height: auto;
}

.subpage {
    padding: 20px;
    text-align: center;
    min-height: 783px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    text-align: left;
    margin: 20px;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
}

.info {
    padding: 10px;
}

.info h3 {
    margin: 0;
    font-size: 1.2em;
}

.info h4 {
    margin: 5px 0;
    color: #555;
}

.info p {
    font-size: 0.9em;
    color: #666;
}