.contact-content {
    padding: 20px;
    text-align: center;
    min-height: 837px;
    margin: 0 auto;
}

.contact-content h1 {
    margin-bottom: 20px;
    color: #333;
}

.contact-content p {
    color: #555;
    line-height: 1.6;
    max-width: 1000px; /* Set the maximum width */
    margin: 0 auto; /* Center the content */
    text-align: center;
}

#email{
    margin-top: 50px;
}

#phone{
    margin-top: 10px;
}

#address{
    margin-top: 10px;
}