.project-partners-content {
    /*padding: 20px;*/
    text-align: center;
    min-height: 783px;
}

.partners-submenu {
    background-color: #212d52;
}

.partners-submenu ul {
    margin-top: 0px;
    list-style: none;
    padding: 10px;
}

.partners-submenu li {
    display: inline;
    margin-right: 20px;
}

.partners-submenu a {
    text-decoration: none;
    color: #ffffff;
}

.partners-submenu a:hover {
    text-decoration: underline;
}

.subpage2 {
    max-width: 100%;
    margin: 0 auto; /* Center the content */
    text-align: center; /* Align text to the left for better readability */
}

.subpage2 p{
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}
.logo2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo2 img {
    max-width: 75%;
    height: auto;
}
